.site-subheading {
	font-weight: normal;
	display: block;
	margin: 0.5em 0 0;
	font-size: 2em;
	letter-spacing: 0;
	color: #fffb00;
}

.stack__item .stack__item-text {
	display: none;
}

.stack__item--current .stack__item-text {
	display: block;
}

.stack__item-text {
	font-size: 26px;
	font-weight: bold;
	margin-top: 60%;
}

@media screen and (max-width: 60em) {
	.stack__item-text {
		font-size: 23px;
	}
}

.stack {
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	width: 320px;
	height: 320px;
	padding: 0;
	list-style: none;
    pointer-events: none;
}

.stack__item {
	background: #fff;
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position-x: 50%;
	background-position-y: 20px;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	padding: 20px;
	position: absolute;
	opacity: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: auto;
}

@media screen and (max-width: 60em) {
	.stack__item {
		background-position-y: 10px;
	}
}

.stack__item img {
	display: block;
	height: 50%;
	margin: 0 auto;
	/*mix-blend-mode: color-burn;*/
	pointer-events: none;
}

.controls {
	position: relative;
	width: 200px;
	text-align: center;
	margin: 3em 0 0 0;
}

.button {
	border: none;
	background: none;
	position: relative;
	display: inline-block;
	padding: 0.25em;
	margin: 0 0.5em;
	cursor: pointer;
	font-size: 1.5em;
	width: 50px;
	height: 50px;
	z-index: 100;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.button:focus {
	box-shadow: 0 0 0 3px #80F8B4;
}

.button .fa {
	pointer-events: none;
}

.button--default {
	background: #333;
	border-radius: 3px;
	color: #fff;
	font-size: 0.95em;
	font-weight: bold;
	padding: 0.65em 2em;
	width: auto;
	height: auto;
}

.button--sonar {
	border-radius: 50%;
	background: #fff;
}

.button--sonar::before {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
	border: 4px solid rgba(255,255,255,0.5);
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
}

.button--sonar.button--active::before {
	-webkit-animation: anim-effect-sonar 0.3s ease-out forwards;
	animation: anim-effect-sonar 0.3s ease-out forwards;
}

@-webkit-keyframes anim-effect-sonar {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.9, 0.9, 1);
		transform: scale3d(0.9, 0.9, 1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.4, 1.4, 1);
		transform: scale3d(1.4, 1.4, 1);
	}
}

@keyframes anim-effect-sonar {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.9, 0.9, 1);
		transform: scale3d(0.9, 0.9, 1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.4, 1.4, 1);
		transform: scale3d(1.4, 1.4, 1);
	}
}

.material-circle {
	width: 150vh;
	height: 150vh;
	margin: -75vh 0 0 -75vh;
	z-index: 0;
	border-radius: 50%;
	pointer-events: none;
	opacity: 0;
	position: absolute;
	z-index: 0;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
}

.material-circle--accept.material-circle--active {
	background: #81d47d;
}

.material-circle--reject.material-circle--active {
	background: #e66868;
}

.material-circle--active {
	-webkit-animation: anim-effect-material 0.6s ease-out forwards;
	animation: anim-effect-material 0.6s ease-out forwards;
}

@-webkit-keyframes anim-effect-material {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}
	70% {
		opacity: 1;
		-webkit-transform: scale3d(1.4, 1.4, 1);
		transform: scale3d(1.4, 1.4, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.4, 1.4, 1);
		transform: scale3d(1.4, 1.4, 1);
	}
}

@keyframes anim-effect-material {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}
	70% {
		opacity: 1;
		-webkit-transform: scale3d(1.4, 1.4, 1);
		transform: scale3d(1.4, 1.4, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.4, 1.4, 1);
		transform: scale3d(1.4, 1.4, 1);
	}
}

.button:focus {
	outline: none;
}

.button--accept {
	color: #81d47d;
}

.button--reject {
	color: #e66868;
}

.text-hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
	display: block;
}

/* Animations */
.stack__item--reject,
.stack__item--accept {
	pointer-events: none;
}

/***********************************************/
/******************** yuda *********************/
/***********************************************/

.stack--yuda .stack__item--reject {
	-webkit-animation: yudaReject 0.5s forwards;
	animation: yudaReject 0.5s forwards;
}

@-webkit-keyframes yudaReject {
	to {
		opacity: 0;
		-webkit-transform: translate3d(0,200px,0);
		transform: translate3d(0,200px,0);
	}
}

@keyframes yudaReject {
	to {
		opacity: 0;
		-webkit-transform: translate3d(0,200px,0);
		transform: translate3d(0,200px,0);
	}
}

.stack--yuda .stack__item--accept {
	-webkit-animation: yudaAccept 0.5s forwards;
	animation: yudaAccept 0.5s forwards;
	-webkit-transform-origin: 50% 300%;
	transform-origin: 50% 300%;
}

@-webkit-keyframes yudaAccept {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(0,0,1,20deg);
		transform: rotate3d(0,0,1,20deg);
	}
}

@keyframes yudaAccept {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(0,0,1,20deg);
		transform: rotate3d(0,0,1,20deg);
	}
}

@media screen and (max-width: 60em) {
	.stack {
		width: 260px;
		height: 260px;
	}
}
